<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net35" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.15" targetFramework="net35" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net35" />
</packages>